
/* Универсальный селектор (*) обнуляет отступы и границы у всех элементов */
* {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Границы и отступы не увеличивают общую ширину элемента */
}

/* Оформление тела страницы: шрифт, фон, отступ сверху */
body {
    font-family: Arial, sans-serif; /*  шрифт*/
    background-color: #f5f5f5; /* Светлый фон вокруг макета */
    padding-top: 40px; /* Отступ сверху, чтобы контейнер не прилипал к краю окна */
}

/*  2. Фиксированная модульная сетка (Размер 1024х768 по центру) */
/*  GRID-контейнер - задается сетка блоков */
.container {
    width: 1024px;  /* Фиксированная ширина контейнера */
    height: 768px;  /* Фиксированная высота контейнера */
    margin: 0 auto;/* Автоматические отступы слева и справа — выравнивание по центру */
    background-color: #ffffff;  /* Белый фон внутри контейнера */

    /* Включаем CSS Grid  */
    display: grid;
    
    /* создаем 4 колонки одинаковой ширины (1fr — одна доля свободного места) */
    grid-template-columns: repeat(4, 1fr);
    
    /* строка имеет фиксированную высоту 100 пикселей (подвал) */
    grid-template-rows: 1fr 100px;
    
    gap: 12px;  /* Расстояние (отступы) между всеми ячейками сетки */
    padding: 12px; /* Внутренний отступ внутри контейнера (от краев до блоков) */
}


/* Общий стиль для всех блоков сетки */
.grid-block {
    padding: 20px;  /* Внутренние отступы внутри блока для текста */
    border: 2px solid #333333; /*  граница черного цвета */
    color: #ffffff;  /* цвет текста */
    font-size: 14px;  /* Размер шрифта */
    overflow: auto;  /* Если содержимое превышает блок — появляется прокрутка */
}

/* Индивидуальные цвета для каждого блока  */
.block-1 { background-color: #34495e; } /*  (шапка/навигация) */
.block-2 { background-color: #2980b9; } /*  (раздел) */
.block-3 { background-color: #27ae60; } /*  (главный контент) */
.block-4 { background-color: #d35400; } /*  (боковая панель) */

/* Специальное оформление для блока 5 (подвал) */
.block-5 {
    background-color: #8e44ad;  /* Фиолетовый фон подвала */
    grid-column: 1 / 5;   /* Растягиваем блок от 1-й до 5-й вертикальной линии сетки.
    display: flex;  /* Включаем Flexbox для выравнивания содержимого */
    align-items: center; /* Выравнивание по вертикали по центру */
    justify-content: center;  /* Выравнивание по горизонтали по центру */
}