
/* ЗАДАНИЕ 2: Оформление даты рождения (СПОСОБ 4 - Импортирование)            */
#birthDate {
    /* Выравнивание всей строки по ПРАВОМУ краю, как указано в задании */
    text-align: right; 
    
    /* Делаем элемент блочным.*/
    display: block; 
    
    /* Дополнительный отступ сверху, чтобы дата не слипалась с ФИО */
    margin-top: 10px; 
}

/* СТИЛЬ ДЛЯ ОСТАЛЬНОЙ ЧАСТИ ДАТЫ (все цифры после первой) */
.the-rest {
    /* Начертание шрифта  */
    font-style: italic; 
    
    /* Текстовый эффект */
    text-decoration: line-through; 
    
    /* Цвет текста */
    color: red; 
}